backend/node_modules
frontend/node_modules

backend/logs
frontend/logs
backend/.env
frontend/.env
backend/*.log
frontend/*.log
backend/npm-debug.log*
frontend/npm-debug.log*
backend/yarn-debug.log*
frontend/yarn-debug.log*
backend/yarn-error.log*
frontend/yarn-error.log*
backend/pnpm-debug.log*
frontend/pnpm-debug.log*
backend/lerna-debug.log*
frontend/lerna-debug.log*
backend/sqlite.db

backend/node_modules
frontend/node_modules
frontend/dist
backend/dist-ssr
frontend/dist-ssr
backend/*.local
frontend/*.local

# Editor directories and files
backend/.vscode/*
frontend/.vscode/*
backend/!.vscode/extensions.json
frontend/!.vscode/extensions.json
backend/.idea
frontend/.idea
backend/.DS_Store
frontend/.DS_Store
backend/*.suo
frontend/*.suo
backend/*.ntvs*
frontend/*.ntvs*
backend/*.njsproj
frontend/*.njsproj
backend/*.sln
frontend/*.sln
backend/*.sw?
frontend/*.sw?